<a href="https://colab.research.google.com/github/manikanta741/DSA/blob/main/basic_maths_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#coumt digits of a number
num=121
count=0
while num>0:
  count+=1
  num=num//10
print(count)

3

In [7]:
#reverse of  a num
num=123
rev=0
while num>0:
  rem=num%10
  rev=rev*10+rem
  num=num//10
print(rev)

321

In [8]:
#palindrome
num=123
temp=num
rev=0
while num>0:
  rem=num%10
  rev=rev*10+rem
  num=num//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [13]:
#armstrong num
num=153
temp=num
sum=0
while num>0:
  dig=num%10
  sum=sum+dig**3
  num=num//10
if temp==sum:
    print("armstrong")
else:
    print("not armstrong")

armstrong

In [17]:
#all divisors of a num
num=10
for i  in range(1,num):
  if num%i==0:
    print(i)

1
2
5

In [20]:
#prime or not
num=9
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break
else:
  print("prime")

not prime

In [21]:
#sumof first n numbers
n=10
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

55

In [22]:
#factorial of a num
num=5
if num==0:
  print(1)
else:
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  print(fact)

120

In [27]:
#reverse an array
arr1=[1,2,3,4,5]
n=len(arr1)
for i in range(n//2):
  arr1[i],arr1[n-i-1]=arr1[n-i-1],arr1[i]
print(arr1)

[5, 4, 3, 2, 1]

In [29]:
#string is palindrome or not
str1="madam"
if str1==str1[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [30]:
#fibanocci
num=10
a=0
b=1
for i in  range(num):
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

In [40]:
#counting frequency of eleents
arr1=[1,2,3,2,1,4,1,5]
freq={}
for i in range(len(arr1)):
  if arr1[i] in freq:
    freq [arr1[i]]+=1
  else:
    freq[arr1[i]]=1
print(freq)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

In [41]:
#counting frequency of eleents
arr1=[1,2,3,2,1,4,1,5]
freq={}
for i in range(len(arr1)):
  if arr1[i] in freq:
    freq[arr1[i]]+=1
  else:
    freq[arr1[i]]=1
print(freq)
most_freq=max(freq,key=freq.get)
least_freq=min(freq,key=freq.get)
print(most_freq)
print(least_freq)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}
1
3